# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [1]:
# Answer here
a=8
b=12
print(a+b)

20

In [2]:
print(8+12)

20

In [3]:
final=8+12
print(final)

20

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [4]:
# Answer here
a=20
b=7
print(a-b)

13

In [5]:
final=20-7
print(final)

13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [6]:
# Answer here
a=6
b=9
print(a*b)

54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [7]:
# Answer here
a=45
b=9
print(a/b)

5.0

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [8]:
# Answer here
a=45
b=9
print(a//b)

5

In [9]:
a=50
b=6
print(a//b)

8

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [10]:
# Answer here
a=29
b=5
print(a%b)

4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [ ]:
# Answer here
num=3
power=4
print(num**power)

81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [12]:
# Answer here
a=-7

print(+a)
print(-a)

-7
7

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [13]:
# Answer here
c = 5 + 3 * 2
d = (5 + 3) * 2
print(c)
print(d)

11
16

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [14]:
# Answer here
a=15
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

19
11
60
3.75
3
3
50625

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [7]:
# Answer here
n = 10
print("value of n:", n)

n += 5
print("After adding 5:", n)

n *= 2
print("After multiplying by 2:", n)

n -= 4
print("After subtracting 4:", n)

value of n: 10
After adding 5: 15
After multiplying by 2: 30
After subtracting 4: 26

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [ ]:
# Answer here
x=3
y=7
x,y=y,x
# x = y
# y = x
print(x,y)

7 3

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [1]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
a=int(input("enter the first number: "))
b=int(input("enter the second number: "))
print(a+b)

enter the first number: 23
enter the second number: 78
101

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [2]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
a=float(input("enter the first number: "))
b=float(input("enter the second number: "))
c=float(input("enter the third number: "))
print((a+b+c)/3)

enter the first number: 37
enter the second number: 28
enter the third number: 93
52.666666666666664

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [4]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
radius=float(input("enter the radius of circle : "))
pi=3.14159
print("Circumference",2*pi*radius, "unit")
print("Area",pi*radius**2, "unit sq")

enter the radius of circle : 33
Circumference 207.34493999999998 unit
Area 3421.1915099999997 unit sq

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [11]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.

a=int(input("enter total seconds: "))
hours=a//3600
minutes=(a%3600)//60
seconds=(a%3600)%60
print(f"{hours}:{minutes}:{seconds}")

enter total seconds: 38383
10:39:43

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [9]:
# Answer here
principal=int(input("enter the principal amount:"))
rate=int(input("enter the rate:"))
time=int(input("enter the time:"))
print("Interest:",(principal*rate*time)/100)

enter the principal amount:100000
enter the rate:6
enter the time:10
Interest: 60000.0