# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
# write your answer here
t=(1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [5]:
# write your answer here
t_2=(1,2.3,"python",True)
print(type(t_2))
print(t_2)

<class 'tuple'>
(1, 2.3, 'python', True)

### Question 3
Find the length of a tuple containing names of 4 students.

In [6]:
# write your answer here
t_3=("Dherya","Vishal","Ankit","Harsh")
print(len(t_3))

4

### Question 4
Access and print the last element of a tuple.

In [7]:
# write your answer here
t_4=("Dherya","Vishal","Ankit","Harsh")
print(t_4[-1])

Harsh

### Question 5
Check whether an element exists in a tuple or not.

In [10]:
# write your answer here
t_5=("Dherya","Vishal","Ankit","Harsh")
print("Dherya" in t_5)
print("aryan"in t_5)

True
False

### Question 6
Convert a tuple into a list.

In [12]:
# write your answer here
a=(1,2,3,4,5)
print(type(a))
b=list(a)
print(type(b))
print("b:",b)

<class 'tuple'>
<class 'list'>
b: [1, 2, 3, 4, 5]

### Question 7
Convert a list into a tuple.

In [13]:
# write your answer here
a=[1,2,3,4,5]
print(type(a))
b=tuple(a)
print(type(b),b)

<class 'list'>
<class 'tuple'> (1, 2, 3, 4, 5)

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [17]:
# write your answer here

t=("apple", "banana", "cherry", "apple", "cherry")
print(t.count("apple"))
print(t.count("cherry"))
print(t.count("banana"))

2
2
1

### Question 9
Find the index of an element in a tuple.

In [18]:
# write your answer here
a=("apple", "banana", "cherry", "apple", "cherry")
print(a.index("cherry"))

2

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [ ]:
# write your answer here
t=("apple", "banana", "cherry", "apple", "cherry")

print(t[3])

t[3]="guava"     # this line will throw error and hence tuple is immutable

print(t)

In [ ]:
tup=(1,2,)

tu=1,3,4


list1=[7,9]

tup_Fin=tuple(list1)

print(type(tup_Fin),tup_Fin)


l1=list(tup_Fin)

print(type(l1),l1)

<class 'tuple'> (7, 9)
<class 'list'> [7, 9]

In [ ]:
marks_of_student=(12,16,19,9,8)

c=sorted(marks_of_student)
c[-2:]

[16, 19]

In [ ]:
print(t)

new=set(t)

l1=list(t)


print(new)

('apple', 'banana', 'cherry', 'apple', 'cherry')
{'cherry', 'banana', 'apple'}

In [ ]:
s1= {1,2,1,56,8,436,8}

s2={}

print(type(s2))

print(s2)

<class 'dict'>
{}